<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>{{user.username}}'s games</title>
    <style type="text/css">
      nav{
        background-color: lightgrey;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
      }
      nav span{
        margin-left: 0.5em;
      }
    </style>
  </head>
  <body>
    <nav>
      <span><a href="{% url 'accounts:home' %}">{{user.username}}</a></span><span><a href="{% url 'accounts:logout' %}">logout</a></span>
    </nav>
    <div>
      <h4>{{user.username}}'s games</h4>
      {% for game in admingames %}
        <a href="{% url 'tabletops:room' game.name %}">{{game.name}}</a><br>
      {% endfor %}
      <h4>Invited games</h4>
      {% for game in gamerooms %}
        <a href="{% url 'tabletops:room' game.name %}">{{game.admin.username}}: {{game.name}}</a><br>
      {% endfor %}
    </div>
    <div id="app">
      <div v-if="error">
        [[error]]
      </div>
      <input type="text" v-model="room_name" required>
      <select required v-model="template">
        {% for template in templates %}
          <option value="{{template.name}}">{{template.name}}</option>
        {% endfor %}
      </select>
      <button @click="newRoom">Create room</button>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        delimiters: ['[[',']]'],
        data: {
          template: '',
          room_name: '',
          error: '',
        },
        methods: {
          newRoom: function() {
            if (this.template == '' || this.room_name == '') {
              this.error = 'please fully fill out the form'
              return null
            }
            axios({
              method: 'post',
              url: '{%url 'tabletops:newroom' %}',
              headers: {
                'X-CSRFToken': '{{csrf_token}}'
              },
              data: {
                'template': this.template,
                'room_name': this.room_name,
              }
            }).then(response => {
              console.log(response.data)
              if (response.data.error) {
                this.error = response.data.error
              } else if (response.data.redirect) {
                window.location.href = response.data.redirect
              }
            })
          }
        },
      })
    </script>
  </body>
</html>
